<p>subjects works!</p>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<div class="collection">
    <a href="#!" class="collection-item">Alvin</a>
    <a href="#!" class="collection-item active">Alvin</a>
    <a href="#!" class="collection-item">Alvin</a>
    <a href="#!" class="collection-item">Alvin</a>
    <!-- <ul class="list-group">
        <li *ngFor="let subject of subjects; let i = index" class="list-group-item">
            <a [routerLink]="['/default', 'subjects', subject.subjectId]">{{i+1}} {{subjects.subjectId}}</a>
            hiee
        </li>
    </ul> -->
</div>